{% extends 'base.html.twig' %}

{% block title %}Gifs Manager{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-3">index search controller</h1>

    </div>

{% endblock %}
